root = true

[*]
guidelines = 80, 120
end_of_line = crlf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4
csharp_style_namespace_declarations = file_scoped:error
csharp_prefer_braces = true:error
csharp_new_line_before_open_brace = all
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_space_between_method_name_and_opening_parenthesis = false
csharp_space_after_keywords_in_control_flow_statements = true
dotnet_style_qualification_for_field = false:error
dotnet_style_qualification_for_property = false:error
dotnet_style_qualification_for_method = false:error
dotnet_style_qualification_for_event = false:error
dotnet_style_require_public_classes = true:error

